<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Role Based Access Control Task Manager Demo</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <style>

    body {
      background-color: #C2FB8F;
    }

    .navbar {
      background-color: white !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    .main-card {
      max-width: 600px;
      margin: 50px auto;
      border: none;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,.08);
    }

    .form-label {
      font-weight: 500;
      color: #6c757d;
      font-size: 0.85rem;
      margin-bottom: 0.25rem;
    }

  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid mx-5">
      <a class="navbar-brand fw-bold d-flex align-items-center" href="#">
        <i class="bi bi-list-task fs-4"></i>
        <p class="h6 ms-2 mt-2 text-secondary">Role Based Access Control Task Manager Demo</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 border-0">
          <li class="nav-item">
            <a class="nav-link fw-bold main-nav-text" aria-current="page" href="#">
              <i class="bi bi-speedometer"></i>
              Dashboard
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              fake1@test.com (<span class="text-warning">Editor</span>)
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item fw-bold main-nav-text" href="#">
                  <i class="bi bi-person-fill"></i>
                  Profile
                </a>
              </li>
              <li>
                <button class="dropdown-item fw-bold text-dark">
                  Logout
                </button>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container-fluid mt-5 mb-5" style="max-width: 900px;">
    <div class="card main-card">
      <div class="card-body p-5">

        <h3 class="card-title mb-4">
          <i class="bi bi-list-nested"></i>
          View Task
        </h3>

        <form>

          <div class="mb-4 row">
            <label for="taskTitle" class="form-label col-sm-3 col-form-label">Task Title</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="taskTitle" value="#" />
            </div>
          </div>

          <div class="mb-4">
            <label for="taskDescription" class="form-label col-sm-3 col-form-label">Description</label>
            <div class="col-sm-7">
              <textarea readonly class="form-control-plaintext" id="taskDescription">#</textarea>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="taskStatus" class="form-label col-sm-3 col-form-label">Task Status</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="taskStatus" value="#" />
            </div>
          </div>

          <div class="mb-4 row">
            <label for="creatorUser" class="form-label col-sm-3 col-form-label">Creator</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="creatorUser" value="#" />
            </div>
          </div>

          <div class="mb-4 row">
            <label for="assignedUser" class="form-label col-sm-3 col-form-label">Assigned User</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="assignedUser" value="#">
            </div>
          </div>

          <div class="mb-4 row">
            <label for="dateCompleted" class="form-label col-sm-3 col-form-label">Date Completed</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="dateCompleted" value="#" />
            </div>
          </div>

          <div class="mb-4 row">
            <label for="dateCreated" class="form-label col-sm-3 col-form-label">Date Created</label>
            <div class="col-sm-7">
              <input type="text" readonly class="form-control-plaintext" id="dateCreated" value="#" />
            </div>
          </div>

          <div class="d-flex justify-content-start pt-3">
            <button type="button" class="btn btn-light">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
